@import "tailwindcss";

/* Tells Tailwind v4 to trigger dark mode when the .dark class is present */
@custom-variant dark (&:is(.dark *));

html {
  font-family: "Inter", sans-serif;
  /* Smooth transition when clicking the toggle */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
.font-serif {
  font-family: "Playfair Display", serif;
}

/* Global Image Protection */
img {
  /* Disables the long-press popup menu on iOS/Safari */
  -webkit-touch-callout: none !important;

  /* Prevents text/image selection */
  user-select: none !important;
  -webkit-user-select: none !important;

  /* Prevents dragging the image to the desktop */
  -webkit-user-drag: none !important;
  user-drag: none !important;
}
